{% extends "layout.html" %}

{% block title %}AIIM{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='igemfounder.css') }}">
{% endblock %}

{% block page_content %}

    <header class="post-header">
        <div class="container">
            <h1>AIIM</h1>
            <p>All India iGEM Meet at ICT Mumbai </p>
        </div>
    </header>

    <main class="container article-content">
        <p>The All-India iGEM Meet, otherwise known as three nerve-wracking days of doubting your entire project plan, is the annual meetup of iGEM teams from Indian universities. Teams exchange ideas, collaborate, engage in mock presentations and judging sessions, and present their posters months before the Grand Jamboree comes within their line of sight. This year, our friends over at ICT Mumbai hosted us for the event—and what an event it truly was. </p>
        
        <p>It began as most gatherings of strangers often do—quiet, a little apprehensive, and a whole lot excited. As the ambassadors opened up the floor for discussion during the Dual Use Research Concern workshop, however, voices began piping up. Soon, we had pretty much drowned out the incessant rain outside with loud agreements and disagreements regarding genetic modification policies, open science, biocontainment, biosafety—you name it. The passionate raucous was perhaps the most inspiring part of the event, when we got to see just how much each of us cared about what we were doing. </p>

        <p>The event was then filled to the brim with talks from esteemed speakers, professors, and non-professors alike. It is an ode to the organisers that they managed to curate such a thoughtful list that appealed to the entire audience. </p>
        <!-- This is where you can add your main group photo -->
        <figure class="image-with-caption">
            <img src="https://static.igem.wiki/teams/6006/wiki/remainingpics/img-20250728-wa0047.avif" alt="A group photo of the iGEM team with Drew Endy and Randy Rettberg.">
            <figcaption>Group Photo.</figcaption>
        </figure>

        <p>The second and third days demanded more active participation with the presentation and poster judging sessions. The judges were engaging and lively, and gave constructive feedback that we were careful to incorporate into our work moving forward. Furthermore, we talked to some very interesting people from teams working on very interesting ideas. We walked away from every person we spoke to with a little confusion and a whole lot of awe.</p>        
        
        <p>We then held a quiz. Our bio/sci-tech quiz had been designed to be fun and engaging for hardcore biologists as well as the plethora of interdisciplinary scientists one would hope to see at a synthetic biology competition. The event went great, and the lucky winners got prizes that were directly related to the answers in the quiz.</p>
        
        <figure class="image-with-caption">
            <img src="https://static.igem.wiki/teams/6006/wiki/remainingpics/img-20250727-wa0170.avif" alt="A group photo of the iGEM team with Drew Endy and Randy Rettberg.">
            <figcaption>Quizmasters: Aarav Ghate, Aditey Nandan and Devansh Jhawar</figcaption>
        </figure>
        <p>Overall, the AIIM experience taught us what we were doing wrong and how to rectify it. It nudged us to think like scientists and communicate like authors. It also primed us well for the Grand Jamboree.</p>
    </main>


{% endblock %}