{% extends "layout.html" %}

{% block title %}Attributions{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='attributions.css') }}">
{% endblock %}

{% block page_content %}

<section class="hero">
  <div class="container mx-auto">
    <h1>Attributions</h1>
    <p>The ARGUS-2440 project was built by an interdisciplinary team of passionate researchers and students. Each member made unique contributions that brought this vision to life.</p>
  </div>
</section>

<!--
  ======================================================================
  == VERY IMPORTANT                                                   ==
  ======================================================================
  LEAVE THE IFRAME CODE BELOW AS IT IS, THE ATTRIBUTION FORM OF YOUR TEAM
  WILL BE DISPLAYED ON THIS PAGE. DO NOT REMOVE IT, OTHERWISE YOU RISK OF
  NOT MEETING BRONZE MEDAL CRITERION #2
 -->
<div class="row mt-4">
  <script type="text/javascript">
    // Listen to size change and update form height
    window.addEventListener("message", function (e) {
      if (e.origin === "https://teams.igem.org") {
        const {type, data} = JSON.parse(e.data);
        if (type === "igem-attribution-form") {
          const element = document.getElementById("igem-attribution-form");
          element.style.height = `${data + 100}px`;
        }
      }
    });
  </script>
  <iframe
    style='width: 100%'
    id="igem-attribution-form"
    src="https://teams.igem.org/wiki/6006/attributions">
  >
  </iframe>
</div>
<!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->

{% endblock %}
