{% extends "layout.html" %}

{% block title %}Delivery{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='experimentation.css') }}">
{% endblock %}

{% block page_content %}

<div class="docs-layout">
    <aside class="docs-sidebar">
        <nav id="docs-nav" class="w-full"></nav>
    </aside>

    <main class="lg:pl-8">
        <article>
            <header id="top">
                <h1>Delivery Mechanisms</h1>
            </header>

            <section id="introduction" data-aos="fade-up">
                <h2>Introduction</h2>

            <p class="animate-on-scroll">
                Once soil testing is underway, our engineered microbe will be applied around plant roots as a bioremediator to reduce nitrate leaching from the rhizosphere. Successful translation of laboratory results to the field requires our bacteria to adhere to the plant roots and form biofilms. This ensures two things:
            </p>

            <ul style="list-style-type: disc; padding-left: 20px; margin-top: 10px; margin-bottom: 10px;">
            <li style="margin-bottom: 6px; font-size: 16px; line-height: 1.4;">
                The critical rhizospheric zone has high DNRA activity, and therefore successfully retains nitrogen.
            </li>
            <li style="margin-bottom: 6px; font-size: 16px; line-height: 1.4;">
                The bacteria will constantly be in the presence of sufficient benzoate, ensuring the inducible promoter allows expression of the nitrite reductase enzyme.
            </li>

            <p class="animate-on-scroll">
                This depends in part on sufficient production of LapA and LapF, the proteins that trigger biofilm formation in <em>Pseudomonas putida</em> KT2440. Biotic and abiotic factors including temperature, water content, pH, the composition of root exudates, mineral concentrations, and abundance of microbes also govern how rhizobacteria interact with plant roots and colonize them.
            </p>

            <p class="animate-on-scroll">
                However, to give the bacteria a fighting chance of latching onto plant roots, the mechanism through which they are introduced into the soil could make a huge difference. With this hypothesis, we have compiled major techniques used currently for this purpose, and evaluated them in the context of our project.
            </p>

            <p class="animate-on-scroll">
                We researched this domain with the following questions in mind:
            </p>

            <ul style="list-style-type: disc; padding-left: 20px; margin-top: 10px; margin-bottom: 10px;">
            <li style="margin-bottom: 6px; font-size: 16px; line-height: 1.4;">
                How do current biostimulant/bioinoculant companies instruct users to apply their products?
            </li>
            <li style="margin-bottom: 6px; font-size: 16px; line-height: 1.4;">
                Has work been done to gauge the most efficient method to deliver PGPB in soil? 
            </li>
            <li style="margin-bottom: 6px; font-size: 16px; line-height: 1.4;">
                Could biofilm mechanisms help/hurt us here? 
            </li>
            <li style="margin-bottom: 6px; font-size: 16px; line-height: 1.4;">
                Are there novel approaches we could emulate? 
            </li>

            </ul>
            </section>

            <section id="seed" data-aos="fade-up">
                <h2>Seed Application</h2>

                <p class="animate-on-scroll">
                    Seed coating stands out as a standard method of inoculating seeds with beneficial bacteria even before they germinate. The microbial inoculant is coated onto the seed with a carrier—-generally, peat—before being planted into soil. Its charm is its precision, since lower yields of inoculants are more likely to work through this technique compared to others.

                </p>
                <p class="animate-on-scroll">
                    Seed soaking is also a viable option, with the only distinction being that inoculants are not introduced onto the seed surface using a carrier. Instead, seeds are directly dipped into bacterial suspensions for stipulated amounts of time before planting. 

                </p>

                <p class="animate-on-scroll">
                    The ease of this method, however, comes with a few costs. Research has shown that the inoculant has a poor shelf-life, and must be used soon after inoculation. Sometimes, the plants can fail to grow due to damage incurred by delicate seeds during inoculation. More importantly, however, the seed coat may be lifted out of the soil during germination, causing a phenomenon called “helmet head”. This occurs because the inoculants and carrier form a smooth layer on the seed and do not allow it to garner enough friction with the soil. While these issues mostly resolve on their own, in rare cases, they could cause issues in plant growth
                </p>

            </section>

            <section id="soil" data-aos="fade-up">
                <h2>Soil application</h2>

                <p class="animate-on-scroll">
                    Directly applying the microbe into the soil mimics the application of fertilizers. This method would simply involve mixing the inoculant with a suitable carrier and following the best practices of fertilizer application. While there may be differences in the specific form in which it is applied, i.e. as a powder or a liquid, they all avoid damage to delicate seeds and also ensure that seeds with smaller surface areas receive sufficient does of inoculants. In fact, irrigation systems have already been developed to deliver Pseudomonas species directly to the plant rhizosphere.
                </p>

                <p class="animate-on-scroll">
                    This method, however, requires specialized equipment and a large yield of inoculant to show success.
                </p>

            </section>

            <section id="plant" data-aos="fade-up">
                <h2>Plant Application</h2>

                <p class="animate-on-scroll">
                    The most common technique in this category appears to be root dipping, which seems extremely infeasible for us because of the crippling impracticality. We cannot possibly ask farmers to rip their plants out root-first, dip them in bacterial suspension, and replant them one at a time.                 </p>
                

            </section>

            <section id="conclusion" data-aos="fade-up">
                <h2>Conclusion</h2>

                <p class="animate-on-scroll">
                    Seed inoculation via seed-coating appears to be the best option in the context of our project. The only major issue might be the short shelf-life of the inoculated seeds.
                </p>

                <p class="animate-on-scroll">
                    To rectify this problem, we propose a system using encapsulation. Microencapsulation of microbes in matrices has been researched, and has shown to confer protection to these plants. Polysaccharide beads, in particular, have been proven to offer excellent protection to cells against biotic and abiotic stress factors. We would, therefore, encapsulate our engineered <em>P. putida</em> KT2440 in a polysaccharide matrix before performing seed inoculation. Our final product would thus enjoy a longer shelf-life, ease of processing, and may even assist in engineering systems for controlled release in the soil. 

                </p>

            </section>



</section>

            <section id="references" data-aos="fade-up">
                <h2>References</h2>

                <ol style="padding-left: 20px; margin-top: 10px; margin-bottom: 10px; list-style-type: decimal;">
                    <li style="margin-bottom: 6px; font-size: 16px; line-height: 1.4;">
                        Bahman Khoshru, et al. “Multidimensional Role of Pseudomonas : From Biofertilizers to Bioremediation and Soil Ecology to Sustainable Agriculture.” Journal of Plant Nutrition, 21 Oct. 2024, pp. 1–27, https://doi.org/10.1080/01904167.2024.2416078.
                    </li>
                    <li style="margin-bottom: 6px; font-size: 16px; line-height: 1.4;">
                        ‌Rafique, M., Naveed, M., Mumtaz, M.Z. et al. Unlocking the potential of biofilm-forming plant growth-promoting rhizobacteria for growth and yield enhancement in wheat (Triticum aestivum L.). Sci Rep 14, 15546 (2024). https://doi.org/10.1038/s41598-024-66562-4 
                    </li>
                    <li style="margin-bottom: 6px; font-size: 16px; line-height: 1.4;">
                        Rocha, Inês, et al. “Seed Coating: A Tool for Delivering Beneficial Microbes to Agricultural Crops.” Frontiers in Plant Science, vol. 10, 6 Nov. 2019, https://doi.org/10.3389/fpls.2019.01357. 
                    <li style="margin-bottom: 6px; font-size: 16px; line-height: 1.4;">
                        ‌Ali, Mohsin, et al. Application of Polysaccharides for the Encapsulation of Beneficial Microorganisms for Agricultural Purposes: A Review. Vol. 244, 1 July 2023, pp. 125366–125366, https://doi.org/10.1016/j.ijbiomac.2023.125366. 
                    </li>


            </section>
        </article>
    </main>
</div>


    {% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='delivery.js') }}"></script>
<script src="{{ url_for('static', filename='aos.js') }}"></script>
{% endblock %}