{% extends "layout.html" %}

{% block title %}Experimentation{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='experimentation.css') }}">
{% endblock %}

{% block page_content %}

<div class="docs-layout">
    <aside class="docs-sidebar">
        <nav id="docs-nav" class="w-full"></nav>
    </aside>

    <main class="lg:pl-8">
        <article>
            <header id="top">
                <h1>Experimentation</h1>
            </header>

            <p> Below is a record of all the experimental procedures we performed throughout the duration of our project. The protocols are in a PDF file at the end of the page.</p>

            <section id="bacterial-transformation" data-aos="fade-up">
                <h2>Bacterial transformation</h2>
                <p>These are the experiments carried out from the instance we received the synthesized operons to when we transformed our bacterium.</p>
                
                <h3 id="Stock Preparation">I. Stock preparation</h3>
                <p>
                    We received the genes in custom clonal vectors pMPV-alpha (ampicillin-resistant cloning and shuttle vector with pUC origin of replication for <em>E. coli</em>)  from TWIST Bioscience. We first plated them in ampicillin-infused agar plates, where they responded favorably and grew quite well.
                </p>
                <p>
                    Then, we prepared primary and secondary glycerol stocks of all the plasmids and bacteria for future use. 
                </p>

                <h3 id="plasmid-isolation">II. Plasmid isolation</h3>

                <p>
                    We used the QIAGEN Spin Miniprep kit to perform isolation of the pMPV-alpha-<em>nirBD</em> and pMPV-alpha-<em>nrfHA</em>, pMPV-alpha-<em>nrfABCD</em>, and pMPV-alpha-<em>nrfEFG</em> plasmids.
                </p>


                <div class="callout callout-note">
                    <div class="callout-header">
                        <strong>Troubleshooting</strong>
                    </div>
                    <p>We saw lots of RNA and salt contamination in the nanodrop readings of our plasmids that were isolated using the kit. The yield was also suboptimal.</p>
                    <p>Therefore, we consulted Hassan, our post-doc advisor and mentor, regarding this problem. He directed us to perform manual plasmid isolations, where we would prepare the reagents on our own and perform a lengthier, but less uncertain, experiment. Our samples after that had much better yields.</p>
                </div>

                <h3 id="restriction-digestion">III. Restriction enzyme digestion</h3>
                <p>
                    We designed the operons and chose plasmids such that separate DNA fragments would recombine after ligation to form the functioning operons once again. 
                </p>

                <div class="image-credit-wrapper">
                    <img src="https://static.igem.wiki/teams/6006/wiki/plasmid-biorender.webp" 
                alt="Indentified Operons" 
                class="animate-on-scroll" 
                style="display: block; margin: 1rem auto 0; max-width: 600px; border-radius: 1rem; box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1); margin-bottom: 2rem;">
                    <p class="image-credit">Image source: Biorender (Created in <a href="https://BioRender.com" target="_blank">BioRender.com</a>)</p>
                </div>

                <p class="animate-on-scroll">
                    Our restriction enzymes of choice are EcorI, BamHI, and HindIII.
                </p>
                <p class="animate-on-scroll">
                    For <em>nirBD</em>, the self-containing operon, the process would be simpler. Here’s a schematic of the plasmid creation process using pSEVA 648.
                </p>

                <div class="image-credit-wrapper">
                    <img src="https://static.igem.wiki/teams/6006/wiki/ihp/digestionwithecorl.avif" 
                alt="Indentified Operons" 
                class="animate-on-scroll" 
                style="display: block; margin: 1rem auto 0; max-width: 600px; border-radius: 1rem; box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1); margin-bottom: 2rem;">
                    <p class="image-credit">Image source: Biorender (Created in <a href="https://BioRender.com" target="_blank">BioRender.com</a>)</p>
                </div>

                <div class="callout callout-note">
                    <p>We created a mastermix with EcoRI and BamHI to first digest pSEVA648, <em>nirBD</em>, and <em>nrfABCD</em>. Unfortunately, this approach did not work very well for pSEVA648, as can be seen from the bands below.</p>

                </div>

                <div class="image-credit-wrapper">
                    <img src="https://static.igem.wiki/teams/6006/wiki/dna-ladder.webp" 
                alt="DNA Ladder" 
                class="animate-on-scroll" 
                style="display: block; margin: 1rem auto 0; max-width: 600px; border-radius: 1rem; box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1); margin-bottom: 2rem;">
                    <p class="image-credit">From left to right: 1-10kb standard DNA ladder, undigested plasmid, digested plasmid. No clear bands were obtained after digestion.</p>
                </div>

                <div class="callout callout-note">
                    <p>Therefore, we ditched the mastermix and digested it using the enzymes separately to understand the root of the problem. </p>
                </div>

                <div class="image-credit-wrapper">
                    <img src="https://static.igem.wiki/teams/6006/wiki/undigested-ladder.webp" 
                alt="Undigested DNA Ladder" 
                class="animate-on-scroll" 
                style="display: block; margin: 1rem auto 0; max-width: 600px; border-radius: 1rem; box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1); margin-bottom: 2rem;">
                    <p class="image-credit">From left to right—Ladder, Undigested pSEVA648, pSEVA648+EcoRI, pSEVA648 + BamHI, pSEVA648+ HindIII. Only the HindIII digestion seemed to have worked, which prompted us to replace the EcorI and BamHI enzymes we were using.</p>
                </div>
                
                <p class="animate-on-scroll">
                    Having replaced our stock with fresh enzymes, we performed digestion for all of our samples. 
                </p>

                <h3 id="elution">IV. Elution</h3>

                <p class="animate-on-scroll">
                    We eluted the bands from the gel using a gel elution kit, which yielded less than satisfactory DNA concentrations yet again. 
                </p>

                <p class="animate-on-scroll">
                    Since we had 50μL of the eluted sample, we used a vacuum heater to evaporate the excess supernatant and proceeded with ligation.
                </p>

                <h3 id="ligation">V. Ligation and Transformation</h3>

                <p class="animate-on-scroll">
                    Our next step was to ligate the different fragments together. We picked <em>nrfABCD</em> and pSEVA648 for the first run due to the promising DNA concentrations obtained after drying the elution samples. 
                </p>
                <p class="animate-on-scroll">
                    After setting up ligation and incubating, we transformed <em>E. coli</em> DH5-alpha using heat shock. Unfortunately, we did not observe growth on the Kanamycin agar plate, indicating that something failed either during ligation or transformation. We are currently troubleshooting the problem.
                </p>
            </section>

            <section id="optimal-growth" data-aos="fade-up">
                <h2>Identifying Optimal Growth Media</h2>

                <p class="animate-on-scroll">We prepared rich growth media and minimal growth media having varying compositions based on the questions brainstormed during the design phase of this cycle. The idea was to confirm which culture media <em>P. putida</em> KT2440 responded most favorably to, and then run further tests on nitrate and nitrite metabolism in the short-listed media for convenience. We also cultured <em>E.coli</em> DH5-alpha and <em>P.putida</em> EM42 to act as negative controls for the subsequent experiment. </p>
                <p class="animate-on-scroll">We first took inventory of the material we had in our lab to prepare the media. </p>

                <h3 id= "media" class="section-title-small">Media & Components</h3>
                <div class="table-wrapper">
                <table class="custom-table">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Rich Media</th>
                        <th>Minimal Media</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Solvent</td>
                        <td>MQ water</td>
                        <td>MQ water</td>
                    </tr>
                    <tr>
                        <td>Carbon source</td>
                        <td>1. Brain heart infusion broth (calf brain, beef heart, proteose peptone, dextrose, NaCl, Na2HPO4). Even richer than beef extract.
                            <br><br>2. Peptone, bacteriological grade.
                            <br><br>3. Nutrient broth (yeast extract, NaCl, two types of peptone, one of which is equivalent to beef extract).</td>
                        <td>
                            1. Glycerin  <br><br>
                            2. Yeast extract <br><br>
                            3. NaHCO<sub>3</sub> <br><br>
                            4. NaCO<sub>3</sub> <br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>Nitrite source</td>
                        <td>NaNO₂</td>
                        <td>NaNO₂</td>
                    </tr>
                    <tr>
                        <td>Extra nutrition</td>
                        <td>Not required.</td>
                        <td>Could use Burk’s medium for extra salts and buffers, since Burk’s medium does not contain nitrogen and will not invalidate the readings. Includes phosphates, sulphates, and sucrose.</td>
                    </tr>
                    </tbody>
                </table>
                </div>

                <h3 id= "compositions-table" class="section-title-small">Compositions Table</h3>
                <p class="animate-on-scroll">Contains values for rich media</p>
                <div class="table-wrapper">
                <table class="custom-table">
                    <thead>
                    <tr>
                        <th>Sample</th>
                        <th>Brain-Heart Infusion Broth (g)</th>
                        <th>Nutrient Broth (g)</th>
                        <th>Peptone (g)</th>
                        <th>NaNO<sub>2</sub> (g)</th>
                        <th>Water (ml)</th>
                        <th>Agar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sample #1</td>
                        <td>0.15</td>
                        <td>0</td>
                        <td>0.25</td>
                        <td>0.05</td>
                        <td>50</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>Sample #2</td>
                        <td>0.15</td>
                        <td>0</td>
                        <td>0.25</td>
                        <td>0.05</td>
                        <td>50</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Sample #3</td>
                        <td>0.30</td>
                        <td>0</td>
                        <td>0.25</td>
                        <td>0.05</td>
                        <td>50</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>Sample #4</td>
                        <td>0.15</td>
                        <td>0</td>
                        <td>0.25</td>
                        <td>0.1</td>
                        <td>50</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>Sample #5</td>
                        <td>0</td>
                        <td>0.15</td>
                        <td>0.25</td>
                        <td>0.05</td>
                        <td>50</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>Sample #6</td>
                        <td>0</td>
                        <td>0.65</td>
                        <td>0.25</td>
                        <td>0.05</td>
                        <td>50</td>
                        <td>No</td>
                    </tr>
                    </tbody>
                </table>
                </div>

                <div class="callout callout-note">
                    <p>
                        The ASM protocol specifically cautions against using fermentable carbohydrates due to the fermentative nature of DNRA. The BH infusion has dextrose.
                    </p>
                    <p>
                        Our solution was to use Nutrient broth in another medium to cross-check just how much this affects reduction capabilities.
                    </p>
                </div>

                <h3 id= "minimal-table" class="section-title-small">Minimal Media Table</h3>
                <p class="animate-on-scroll">Contains values for minimal media</p>
                <div class="table-wrapper">
                <table class="custom-table">
                    <thead>
                    <tr>
                        <th>Sample</th>
                        <th>Glycerin</th>
                        <th>Yeast Extract</th>
                        <th>NaHCO<sub>3</sub></th>
                        <th>Na<sub>2</sub>CO<sub>3</sub></th>
                        <th>NaNO<sub>2</sub></th>
                        <th>Burk's Medium</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sample #7</td>
                        <td>0.12</td>
                        <td>0.06</td>
                        <td>0.05</td>
                        <td>0.005</td>
                        <td>0.95</td>
                        <td>0.5</td>
                    </tr>
                    <tr>
                        <td>Sample #8</td>
                        <td>0.12</td>
                        <td>0.06</td>
                        <td>0.05</td>
                        <td>0.005</td>
                        <td>0.95</td>
                        <td>0.0</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </section>

            <section id="results" data-aos="fade-up">
                <h2>Results</h2>
                <p class="animate-on-scroll">
                    Triplicates of 200μl bacterial cultures were taken in 96-well microtiter plates for ease of processing. Their optical density (OD) values were subsequently measured at 650 nm using a Tecan Infinite® 200 PRO microplate reader.
                </p>

                <div class="image-credit-wrapper">
                    <img src="https://static.igem.wiki/teams/6006/wiki/ihp/pretty-graph-1.avif" 
                alt="Indentified Operons" 
                class="animate-on-scroll" 
                style="display: block; margin: 1rem auto 0; max-width: 600px; border-radius: 1rem; box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1); margin-bottom: 2rem;">
                    <p class="image-credit">Growth of <em>P. putida</em> KT2440 in various growth media</p>
                </div>

                <p class="animate-on-scroll">
                    For <em>P. putida</em> KT2440, OD values were measured after 12, 24, and 48 hours of inoculation. The resulting data has been represented in the graph above. Samples 1, 5, and 6 showed the highest readings. Initially, sample 5 had the highest reading; however, it decreased at 24 hours and then slowly started increasing again. Sample 6 readings skyrocketed after 24 hours of incubation, whereas those of sample 1 increased steadily throughout. We can conclude that sample 5 is optimal for sub-24 hours of incubation, and sample 6 can be opted for longer incubation periods.
                </p>

                <p class="animate-on-scroll">
                    Both <em>P. putida</em> EM42 and <em>E. coli</em> DH5-alpha were incubated for 12 hours each. Their OD readings are colour-coded from highest to lowest.
                </p>

                <div class="table-wrapper">

                <h3><em>P. putida</em> EM42</h3>
    <table class="custom-table">
        <thead>
        <tr>
            <th>Sample</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Sample 1</td>
            <td>0.0951996667</td>
        </tr>
        <tr>
            <td>Sample 3</td>
            <td>0.063633</td>
        </tr>
        <tr>
            <td>Sample 4</td>
            <td>-0.002000333333</td>
        </tr>
        <tr>
            <td>Sample 5</td>
            <td>0.07786633333</td>
        </tr>
        <tr>
            <td>Sample 6</td>
            <td>0.3784996667</td>
        </tr>
        <tr>
            <td>Sample 7</td>
            <td>-0.008867</td>
        </tr>
        <tr>
            <td>Sample 8</td>
            <td>-0.01393366667</td>
        </tr>
        </tbody>
    </table>
</div>

        <p class="animate-on-scroll">
            Once again, sample 6 shows the highest reading, followed by samples 1 and 5.

        </p>

        <h3><em>E.coli</em> DH5-alpha</h3>

        <div class="table-wrapper">
    <table class="custom-table">
        <thead>
        <tr>
            <th>Sample</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Sample 1</td>
            <td>0.00546666667</td>
        </tr>
        <tr>
            <td>Sample 3</td>
            <td>0.0019</td>
        </tr>
        <tr>
            <td>Sample 4</td>
            <td>-0.0075</td>
        </tr>
        <tr>
            <td>Sample 5</td>
            <td>0.1671666667</td>
        </tr>
        <tr>
            <td>Sample 6</td>
            <td>0.154333</td>
        </tr>
        <tr>
            <td>Sample 7</td>
            <td>-0.0087</td>
        </tr>
        <tr>
            <td>Sample 8</td>
            <td>-0.002666666667</td>
        </tr>
        </tbody>
    </table>
</div>

    <p class="animate-on-scroll">
        Sample 5 shows the highest reading, with sample 6 close behind.
    </p>

    <p class="animate-on-scroll">
        For all three bacterial species, samples 3, 7, and 8 showed very poor growth (often negative readings). The bacteria were cultured in samples 1, 5, and 6 for further testing.
    </p>

            </section>


        <section id="Nitrite_met" data-aos="fade-up">
                <h2>Nitrite Metabolism in <em>P. putida</em></h2>
                <p class="animate-on-scroll">
                    To confirm the success of our engineered plasmid, we need to ensure that nitrite uptake and extracellular ammonium production of the transformed bacterium are higher than the basal levels already present in our chassis. The first step was thus to calculate the basal level of nitrite reduction already carried out by the bacteria.
                </p>
                <p class="animate-on-scroll">
                    We used samples #1, #5, and #6 to culture <em>P. putida</em> KT2440 and measured nitrite values at 12 hours, 24 hours, and 48 hours. We also cultured our negative controls to measure against a standard.
                </p>

                <div class="image-credit-wrapper">
                    <img src="https://static.igem.wiki/teams/6006/wiki/ihp/pretty-graph-2.avif" 
                alt="Indentified Operons" 
                class="animate-on-scroll" 
                style="display: block; margin: 1rem auto 0; max-width: 600px; border-radius: 1rem; box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1); margin-bottom: 2rem;">
                    <p class="image-credit">Growth of <em>P. putida</em> in various growth media</p>
                </div>

                <p class="animate-on-scroll">
                    We used the Merck Nitrite Test, colorimetric, 0.005-0.10 mg/L (NO<sub>2</sub><sup>-</sup>), 0.0015-0.030 mg/L (NO<sub>2</sub>-N) assay kit to quantify nitrite concentrations. The recorded concentrations have been converted to g/mL for consistency with other related data.
                </p>

                <p class="animate-on-scroll">
                    The results indicate that the bacterium took up a significant amount of nitrate in just 12 hours. The nitrate levels in the supernatant fluctuated minorly for the 12, 24, and 48 hour readings. These trends are observed in all three cases, sample 1, sample 5 and sample 6.
                </p>

                <p class="animate-on-scroll">
                    The uptake of nitrate clearly indicates that DNRA/ANRA may be occurring. This matches our expectations since <em>P. putida</em> KT2440 has nitrite reductase operon <em>nirBD</em> even natively. We also conducted ammonium quantification assays to verify the reduction to ammonium, and whether it is DNRA or ANRA.
                </p>

                <section id="ammmoqua" data-aos="fade-up">
                <h2>Ammonium quantification in media</h2>

                <div class="table-wrapper">
    <table class="custom-table">
        <thead>
        <tr>
            <th>Sample</th>
            <th>Culture time (h)</th>
            <th>Abs</th>
            <th>K × Abs</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>N/A</td>
            <td>0</td>
            <td>-0.002</td>
            <td>-0.0023</td>
        </tr>
        <tr>
            <td>1</td>
            <td>12</td>
            <td>-0.188</td>
            <td>-0.1878</td>
        </tr>
        <tr>
            <td>5</td>
            <td>12</td>
            <td>-0.38</td>
            <td>-0.3805</td>
        </tr>
        <tr>
            <td>6</td>
            <td>24</td>
            <td>-0.238</td>
            <td>-0.2381</td>
        </tr>
        <tr>
            <td>1</td>
            <td>24</td>
            <td>-2.211</td>
            <td>-2.2115</td>
        </tr>
        <tr>
            <td>5</td>
            <td>24</td>
            <td>-0.176</td>
            <td>-0.1757</td>
        </tr>
        <tr>
            <td>6</td>
            <td>24</td>
            <td>-0.32</td>
            <td>-0.3204</td>
        </tr>
        </tbody>
    </table>
</div>

<p class="animate-on-scroll">
We carried out the indophenol test for qualitatively measuring ammonium production in the aforementioned samples. Bacterial cultures were allowed to grow, then pelleted. The supernatants were taken as samples.
</p>

<p class="animate-on-scroll">
These OD readings were taken at 0.625 nm to check the intensity of the blue colour that a positive reading would produce. However, all our readings were in negatives. We can, unfortunately, not assess DNRA based on these values, and we will troubleshoot the issue in the coming days.
</p>

<p class="animate-on-scroll">
    
We are en route to carrying out the same experiments for our transformed bacteria post successful transformation.
</p>



</section>

<section id="envfac" data-aos="fade-up">
                <h2>Effect of environmental factors on basal level nitrite reduction in <em>P. putida</em></h2>
                <p class="animate-on-scroll">
                    We prepared the sample growth media in such a way that certain questions about DNRA metabolism in <em>P. putida</em> can be answered via inference of results. Particularly,
                </p>

                <ul style="list-style-type: disc; padding-left: 20px; margin-top: 10px; margin-bottom: 10px;">
    <li style="margin-bottom: 6px; font-size: 16px; line-height: 1.4;">
        Metabolism results from samples 1 vs 5 can provide insight into optimal C/N ratios for DNRA in the transformed bacteria.
    </li>
    <li style="margin-bottom: 6px; font-size: 16px; line-height: 1.4;">
        Metabolism results from samples 1 vs 2 can provide insight into optimal oxygen levels for DNRA in the transformed bacteria.
    </li>
    <li style="margin-bottom: 6px; font-size: 16px; line-height: 1.4;">
        Metabolism results from samples 1 vs 4 can provide insight into optimal nitrite concentration for DNRA in the transformed bacteria.
    </li>
    <li style="margin-bottom: 6px; font-size: 16px; line-height: 1.4;">
        Metabolism results from samples 1 vs 7 can provide insight into the type of media (rich vs minimal) for DNRA in the transformed bacteria.
    </li>
</ul>

</section>

</section>

            <h2>Protocols</h2>
        </article>
        

        <div style="display: flex; justify-content: center; padding: 40px;">

    <iframe 
        src="{{ url_for('static', filename='Protocols.pdf') }}" 
        style="width: 95%; height: 600px; border: none; border-radius: 8px; box-shadow: 0 4px 12px rgba(0,0,0,0.1);"
    >
    </iframe>

</div>

    </main>
</div>


    {% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='experimentation.js') }}"></script>
<script src="{{ url_for('static', filename='aos.js') }}"></script>
{% endblock %}