{% extends "layout.html" %}

{% block title %}Gallery{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='gallery.css') }}">
{% endblock %}

{% block page_content %}

<section>
  <div class="section-title">
    <h2><span>Gallery</span></h2>
  </div>

  <div class="masonry">

        <div class="masonry-item">
      <img src="https://static.igem.wiki/teams/6006/gallery/image20.webp" alt="Ammonium Legend">
    </div>

    <section>
  <div class="masonry-gallery">
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image1.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image2.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image3.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image4.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image5.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image6.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image7.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/actualgallery/image8.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image9.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image10.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image11.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image12.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image13.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image14.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image15.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image16.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image17.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image18.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image19.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/actualgallery/image20.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image21.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image22.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image23.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image24.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image25.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image26.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image27.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image28.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image29.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image30.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image31.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image32.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image33.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image34.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image35.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image36.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image37.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image38.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image40.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image41.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image42.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image43.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image44.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image45.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image46.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image47.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/actualgallery/image48.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image49.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image50.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image51.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image52.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image53.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image54.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image55.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image56.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image57.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image58.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image59.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/actualgallery/image60.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image61.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image62.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/actualgallery/image63.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/actualgallery/image64.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/actualgallery/image65.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/actualgallery/image66.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/actualgallery/image67.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/actualgallery/image68.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/actualgallery/image69.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image70.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image71.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image72.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image73.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image74.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image75.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image76.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image77.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image78.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/actualgallery/image79.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image80.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image81.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image82.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image83.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image84.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image85.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/actualgallery/image86.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/actualgallery/image88.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image89.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image90.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image91.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image92.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image93.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image94.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image95.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/actualgallery/image96.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image97.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image98.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image99.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/gallery/actualgallery/image100.avif" alt="Ammonium Legend"></div>
    <div class="masonry-item"><img src="https://static.igem.wiki/teams/6006/actualgallery/image101.avif" alt="Ammonium Legend"></div>
  </div>
</section>

</section>

<!-- Modal -->
<div id="photoModal" class="modal">
  <span class="close" onclick="closeModal()">&times;</span>
  <div class="modal-content-container">
    <img id="modalImg" />
    <div class="modal-description" id="modalCaption"></div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='gallery.js') }}"></script>
{% endblock %}