{% extends "layout.html" %}

{% block title %}Parts{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='parts.css') }}">
{% endblock %}

{% block page_content %}
 
<h1>Our Parts</h1>

<h2><em>Pseudomonas putida</em> KT2440</h2>
<table class="parts-table">
    <thead>
        <tr>
            <th>Part Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Registry Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Part Name">nirB</td>
            <td data-label="Type">Basic</td>
            <td data-label="Description">Nitrite Reductase B</td>
            <td data-label="Registry Number"><a href="https://registry.igem.org/parts/bba-251m4dt4" target="_blank">BBa_251M4DT4</a></td>
        </tr>
        <tr>
            <td data-label="Part Name">nirD</td>
            <td data-label="Type">Basic</td>
            <td data-label="Description">Nitrite Reductase D</td>
            <td data--label="Registry Number"><a href="https://registry.igem.org/parts/bba-25gkwit9" target="_blank">BBa_25GKWIT9</a></td>
        </tr>
        <tr>
            <td data-label="Part Name">nirBD</td>
            <td data-label="Type">Basic</td>
            <td data-label="Description">Cytosolic Nitrite Reductase NirBD from <em>P Putida</em> KT2440</td>
            <td data-label="Registry Number"><a href="https://registry.igem.org/parts/bba-25u4jltx" target="_blank">BBa_25U4JLTX</a></td>
        </tr>
    </tbody>
</table>

<h2><em>Escherichia coli</em> K12 - MG 1655</h2>
<table class="parts-table">
    <thead>
        <tr>
            <th>Part Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Registry Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Part Name">nrfA</td>
            <td data-label="Type">Basic</td>
            <td data-label="Description">NrfA Cytochrome C522 Nitrite Reductase</td>
            <td data-label="Registry Number"><a href="https://registry.igem.org/parts/bba-25vk7sbo" target="_blank">BBa_25VK7SBO</a></td>
        </tr>
        <tr>
            <td data-label="Part Name">nrfB</td>
            <td data-label="Type">Basic</td>
            <td data-label="Description">NrfB Pentaheme Cytochrome Nitrite Reductase</td>
            <td data-label="Registry Number"><a href="https://registry.igem.org/parts/bba-25v4r476" target="_blank">BBa_25V4R476</a></td>
        </tr>
        <tr>
            <td data-label="Part Name">nrfC</td>
            <td data-label="Type">Basic</td>
            <td data-label="Description">NrfC Putative Menaquinol-Cytochrome c Reductase 4Fe-4S Subunit</td>
            <td data-label="Registry Number"><a href="https://registry.igem.org/parts/bba-25h38k3l" target="_blank">BBa_25H38K3L</a></td>
        </tr>
        <tr>
            <td data-label="Part Name">nrfD</td>
            <td data-label="Type">Basic</td>
            <td data-label="Description">Putative Menaquinol Cytochrome c Reductase Subunit NrfD</td>
            <td data-label="Registry Number"><a href="https://registry.igem.org/parts/bba-25e7rtlk" target="_blank">BBa_25E7RTLK</a></td>
        </tr>
        <tr>
            <td data-label="Part Name">nrfE</td>
            <td data-label="Type">Basic</td>
            <td data-label="Description">Accesory Protein to Putative C-type Cytochrome NrfE
</td>
            <td data-label="Registry Number"><a href="https://registry.igem.org/parts/bba-25oefits" target="_blank">BBa_25OEFITS</a></td>
        </tr>
        <tr>
            <td data-label="Part Name">nrfF</td>
            <td data-label="Type">Basic</td>
            <td data-label="Description">Accesory Protein to Putative C-type Cytochrome NrfF
</td>
            <td data-label="Registry Number"><a href="https://registry.igem.org/parts/bba-25ckcg9i" target="_blank">BBa_25CKCG9I</a></td>
        </tr>
        <tr>
            <td data-label="Part Name">nrfG</td>
            <td data-label="Type">Basic</td>
            <td data-label="Description">Accesory Protein to Putative C-type Cytochrome NrfG
</td>
            <td data-label="Registry Number"><a href="https://registry.igem.org/parts/bba-252164l7" target="_blank">BBa_252164l7</a></td>
        </tr>
        <tr>
            <td data-label="Part Name">nrfABCD</td>
            <td data-label="Type">Basic</td>
            <td data-label="Description">nrfABCD Putative Menaquinol-Cytochrome c Reductase</td>
            <td data-label="Registry Number"><a href="https://registry.igem.org/parts/bba-25n1fne5" target="_blank">BBa_25N1FNE5</a></td>
        </tr>
        <tr>
            <td data-label="Part Name">nrfEFG</td>
            <td data-label="Type">Basic</td>
            <td data-label="Description">Accesory Proteins to Putative C-type Cytochrome nrfEFG
</td>
            <td data-label="Registry Number"><a href="https://registry.igem.org/parts/bba-252kb7a1" target="_blank">BBa_252KB7A1</a></td>
        </tr>
        <tr>
            <td data-label="Part Name">nrfABCDEFG</td>
            <td data-label="Type">Composite</td>
            <td data-label="Description">Periplasmic Nitrite Reducatase nrfABCDEFG Operon (optimised for <em>E. coli</em>)
</td>
            <td data-label="Registry Number"><a href="https://registry.igem.org/parts/bba-25ao1uce" target="_blank">BBa_25AO1UCE</a></td>
        </tr>
    </tbody>
</table>
    
<h2><em>Wolinella Succinogenes</em> DSM 1740</h2>
<table class="parts-table">
    <thead>
        <tr>
            <th>Part Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Registry Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Part Name">nrfH</td>
            <td data-label="Type">Basic</td>
            <td data-label="Description">NrfH Cytochrome c Periplasmic Nitrite Reductase Small Subunit</td>
            <td data-label="Registry Number"><a href="https://registry.igem.org/parts/bba-250hw6d1" target="_blank">BBa_250HW6D1</a></td>
        </tr>
        <tr>
            <td data-label="Part Name">nrfA</td>
            <td data-label="Type">Basic</td>
            <td data-label="Description">NrfA Cytochrome c522 Periplasmic Nitrite Reductase</td>
            <td data-label="Registry Number"><a href="https://registry.igem.org/parts/bba-25ksjcmu" target="_blank">BBa_25KSJCMU</a></td>
        </tr>
        <tr>
            <td data-label="Part Name">nrfHA</td>
            <td data-label="Type">Basic</td>
            <td data-label="Description">nrfHA Periplasmic Nitrite Reductase</td>
            <td data-label="Registry Number"><a href="https://registry.igem.org/parts/bba-258ui4d7" target="_blank">BBa_258UI4D7</a></td>
        </tr>
        <tr>
            <td data-label="Part Name">nrfIJ</td>
            <td data-label="Type">Basic</td>
            <td data-label="Description">nrfIJ Accesory Proteins to Periplasmic Nitrite Reductase</td>
            <td data-label="Registry Number"><a href="https://registry.igem.org/parts/bba-25v5hmdn" target="_blank">BBa_25V5HMDN</a></td>
        </tr>
        <tr>
            <td data-label="Part Name">nrfHAIJ</td>
            <td data-label="Type">Composite</td>
            <td data-label="Description">Periplasmic Nitrite Reductase nrfHAIJ Operon (codon optimized for <em>E. coli</em>)
</td>
            <td data-label="Registry Number"><a href="https://registry.igem.org/parts/bba-25445hz2" target="_blank">BBa_25445HZ2</a></td>
        </tr>
    </tbody>
</table>

{% endblock %}